<header class="main" role="header">
  <h1 class="inline-block">City of Greensboro LOE Dashboard</h1>
  <%= link_to root_path, class: 'btn btn-default float-right margin-top-fifteen' do %>
    Home <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
  <% end %>
</header>
