<div class="jumbotron margin-top-fifteen">
  <h3>City of Greensboro Local Ordinance Enforcement</h3>
  <p>
    The goal if this project is to create a more user friendly method for browsing local ordinance enforcement (LOE) cases in Greensboro, NC. The extended goal is to provide a method for rescuing houses from being demolished, and to provide developers with the tools to reach out to the city about such properties.
  </p>
</div>
<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Browse Inspections', inspections_path %></li>
  <li class="list-group-item"><%= link_to 'Browse Violations', violations_path %></li>
  <li class="list-group-item"><%= link_to 'Browse Cases', cases_path %></li>
  <li class="list-group-item"><%= link_to 'Browse Case Histories', case_histories_path %></li>
</ul>
